<form method="POST" action="" id="formAjoutLigneFraisForfait">
    <div class="jumbotron">
      <fieldset>
          <legend>Eléments forfaitisés</legend>
          <p>
              <!-- {% for frais in lesFrais %} -->
              <span *ngFor="let t of fraisForfaitOptions | keyvalue">
                  <label>{{t.value.libelle}}</label>
                  <input type="number" min="0" class="form-control" required name="t.value.id" value="{{t.value.montant}}">
            </span>
              <input type="hidden" name="mois" value="">
          </p>
      </fieldset>
      <p>
          <input id="ajouter" type="submit" class="btn btn-outline-primary" value="Ajouter" onclick="getModePaiement()" />
          <input id="effacer" type="reset" class="btn btn-outline-danger" value="Effacer" />
      </p>
    </div>
 </form>
 

 <table class="table table-striped">
          <thead>
              <tr>
                  <th class="date">Date</th>
                  <th class="libelle">Libellé</th>
                  <th class="montant">Montant</th>
                  <th class="montant">Mode de paiement</th>
                  <th class="action">&nbsp;</th>
              </tr>
          </thead>
          <tbody>

             
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
            
                      <td></td>
 
                      <td>
                          <form method="POST" action="">
                              <input type="hidden" name="idLigneFraisHorsForfait" value = "" />
                              <input id="ajouter" type="submit" class="btn btn-outline-danger" value="Supprimer" />
                          </form>
                      </td>
                  </tr>


          </tbody>
      </table>
      <form method="POST" action="">
          <div class="jumbotron">

              <fieldset>
                  <legend>Nouvel élément hors forfait
                  </legend>
                  <p>
                      <label for="txtDateHF">Date (jj/mm/aaaa):</label>
                      <input type="date" id="txtDateHF" class="form-control" name="dateFrais" required />
                  </p>

                  <p>
                      <label for="txtLibelleHF">Libellé</label>
                      <input type="text" id="txtLibelleHF" class="form-control" name="libelle" required />
                  </p>
                  <p>
                      <label for="txtMontantHF">Montant :</label>
                      <input type="number" step=".001" id="txtMontantHF" class="form-control" name="montant" required />
                  </p>
                  <p>
                      <label for="txtModePaiementHF">Mode de paiement :</label>
                      <select class="browser-default custom-select" name="paiement" >
                              <option *ngFor="let r of modePaiementOptions" value="r.id">{{ r.modePaiement }}</option>;
                      </select>
                  </p>
              </fieldset>
              <p>
                  <input id="ajouter" type="submit" class="btn btn-outline-primary" value="Ajouter" size="20"/>
                  <input id="effacer" type="reset" class="btn btn-outline-danger" value="Effacer" size="20"/>
              </p>
          </div>
      </form>
